.navAppMode {
  font-family: "Montserrat", "Open Sans", Arial, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 6000;
  height: 59px;
  display: flex;
  background: #474953;
  color: #fff;
  justify-content: space-around;
  align-items: center;
  padding: 0 10px;
  font-size: 16px;
  line-height: 1.2;
  box-shadow: 0 5px 0 #0086cf;

  & > .name-logo {
    width: 36px;
    height: 36px;
    background: no-repeat center center;
    background-size: 50% 50%;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 0;
    background-image: url(https://www.cincopa.com/_cms/design18/images/cincopa-circle-logo-icon.png);
  }

  & > * {
    flex-grow: 1;
  }
}