#container {
  padding-top: 64px;
  &.container {
    width: auto!important;
  }
  ::-webkit-scrollbar-thumb {
    background: #959595;
    border-radius: 10px;
    border: 5px solid transparent;
    background-clip: padding-box;
  }
}