* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
}
.content-container{
  padding-left: 0!important;
}
html, body {
  background: #f6f7fb;
  color: #656d78;
  padding: 0;
  margin: 0;
}

#myContainer {
  padding-top: 64px;
  //@include flexbox();
  //@include flex-direction(row);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  &.container {
    width: auto!important;
  }
  ::-webkit-scrollbar-thumb {
    background: #959595;
    border-radius: 10px;
    border: 5px solid transparent;
    background-clip: padding-box;
  }

  [class^="icon-"], [class*=" icon-"] {
    font-family: 'cincopaicons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  a {
    color: #0086cf;
  }
}

.overLine {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  z-index: 200;
}
