#librarySideMenu {
  position: fixed;
  z-index: 99;
  overflow: auto;
  overflow-x: hidden;
  height: 100vh;
  width: 300px;
  top: 0;
  left: 0;
  margin: 0;
  margin-right: -320px !important;
  padding: 79px 30px 90px 30px;
  font-size: 14px;
  background: #f6f7fb;
  border-top: 1px solid #d8dadf;
  border-right: 1px solid #d8dadf;

  & > .sideMenuControls {
    & > .btn {
      display: inline-block;
      zoom: 1;
      *display: inline;
      vertical-align: middle;
      -webkit-transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -ms-transition: 0.2s ease all;
      -o-transition: 0.2s ease all;
      transition: 0.2s ease all;
      text-align: center;
      color: #434a54;
      font-weight: 600;
      cursor: pointer;
      min-width: 24px;
      min-height: 24px;
      line-height: 1em;
      text-transform: none;
      font-size: 13px;
      text-decoration: none !important;
      margin: 0 5px;
      outline: none;
      text-overflow: ellipsis;
      outline: none !important;
      position: relative;
      font-family: 'Montserrat', 'Roboto', sans-serif;

      &.green {
        color: #fff;
        padding: 12px 10px;
        border: 1px solid #8dc153;
        background: #42BD41;
        background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
        border-radius: 4px;
        transition: none;
      }
    }

    & > .btn.primary {
      color: #fff;
      border: 1px solid #0086cf;
      box-shadow: none;
      background: #0086CF;
      background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
      transition: none;
      font-size: 16px;
      font-weight: 500 !important;
      font-family: "Montserrat";
      border-radius: 3px;
      line-height: 16px;
      padding: 16px;
      margin: 0 10px;
      text-transform: capitalize;
      /* margin-bottom: 10px; */
      letter-spacing: 0.6px;
      &:hover {
        color: #fff;
        background: #027abb;
      }
    }


    & > .upload_files {
      width: auto;
      display: block;
      font-weight: bold;
      letter-spacing: 0;
    }
    .icon-uploadfiles {
      &:before {
        content: '\e60f';
      }
    }

    & + .all_tags_block {
      border-top: 1px solid #d8dadf;
      margin: 19px -30px 19px -30px;
      padding: 20px 30px;
      width: auto !important;
    }
  }

  & h4 {
    text-transform: none;
    font-weight: 400;
    font-size: 18px;
    display: block;
  }

  & > .all_tags_block {
    & > * {
      display: inline-block;
      vertical-align: middle;
    }

    & > h4 {
      margin-top: 0;
      display: block;
      & i {
        color: #9ba5b7;
        margin-right: 5px;
        &:before {
          content: "\e60d";
        }
      }
    }

    & .allTags {
      width: auto;
      max-width: 100%;
    }
  }

  & > #tagsCloud {
    & > ul {
      display: inline-block;
      padding: 0;
      margin: 0;
      list-style-type: none;
      line-height: 1.2em;
      font-size: 20px;
      vertical-align: middle;
      white-space: normal;
      max-width: 100%;
      & > li {
        display: inline-block;
        cursor: pointer;
        font-size: 13px !important;
        line-height: 1em !important;
        background: #85adc3;
        color: #fff;
        padding: .3em .5em;
        border-radius: 3px;
        margin: 2px;
        font-weight: bold;
        max-width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }

  & h4 {
    text-transform: none;
    font-weight: 400;
    font-size: 18px;
    display: block;
  }
}
.green {
  color: #3eb060;
}